# *** Server ***
PORT=

# *** Database ***
DATABASE_URL=


# *** API KEYS *** 
CLIENT_TOKEN =

# *** ZOOM OAUTH URLS ***
PRECODE_ACCESS_URL=
POSTCODE_ACCESS_URL=
REFRESH_TOKEN_URL=
ZOOM_URL=
CLIENT_URL=

# *** ZOOM CLIENT CREDENTIALS *** #
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_VERIFICATION_TOKEN=
             
# *** JWT***
APP_SECRET=                                                                                                   
HASH_SECRET=

# *** EMAIL *** #
INVITE_ADDRESS = 
INVITE_PASSWORD = 
TEACHER_INVITE_URL = 
STUDENT_INVITE_URL =
STUDENT_RESET_URL = 

# *** ADMIN *** #
ADMIN_FILENAME=
SALT_ROUNDS=